.texttypeloop p {
    font-weight: bold;
    overflow: hidden;
}

.texttypeloop p span.typed-text {
    font-weight: bolder;
    color: #1F1558;
}

.texttypeloop p span.TypeCursor {
    animation: blink 1s infinite;
}

.texttypeloop p span.TypeCursor.typing {
    animation: none;
}